html, body{
  padding: 0;
  margin: 0;
}

.wrapper{
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

a{
  color: #F4364C;
}

.home{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  background: rgba(255,255,255,0.8);
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.home-content{
  flex: 1;
}

h2{
  font-size: 1.8rem;
}

h3{
  font-weight: normal;
}

h4{


}

@media only screen and (max-width: 800px) {
  .home{
    text-align: center;
    min-height: 100vh;
    position: static;
    width: auto;
  }
}